<h3 class="filter-title">Find new friend</h3>
<form  class="form-filter">
	<div class="main-wrap">
		<div class="child-wrap">
			<div class="input-wrapper">
				<label class="form-filter__label" for="gender">Gender</label>
				<select id="gender" name="gender" [(ngModel)]="animal.gender" class="form-filter__input">
					<option></option>
					<option value="M" >M</option>
					<option value="F">F</option>
				</select>
			</div>

			<div class="input-wrapper">
				<label class="form-filter__label" for="breed">Breed</label>
				<select id="breed" name="breed" [(ngModel)]="animal.breed" class="form-filter__input">
					<option></option>
					<option *ngFor = 'let item of petsInfo'>
						{{item.breed}}
					</option>
				
				</select>
			</div>
		</div>

		<div class="child-wrap">
			<div class="input-wrapper">
				<label class="form-filter__label" for="age">Age</label>
				<select id="age" name="age" [(ngModel)]="animal.age" class="form-filter__input">
					<option></option>
					<option *ngFor = 'let item of petsInfo'>
						{{item.age}}
					</option>
					
				</select>
			</div>

			<div class="input-wrapper">
				<label class="form-filter__label" for="curator">Curator</label>
				<select id="curator" name="curator" [(ngModel)]="animal.curator" class="form-filter__input">
					<option></option>
					<option value="Мамчур Аліса Бекішівна">Мамчур Аліса Бекішівна</option>
					<option value="Наталія Канюк">Наталія Канюк</option>
					
				</select>
			</div>
		</div>
	</div>

	<button class="form-filter-btn" type="submit" (click)="onSubmite()">Find</button>
</form>

<div class="wrap-filter-result">
	<app-filter-result *ngFor="let item of response" [data]="item"></app-filter-result>
</div>
<p class="card-filter-title">Тваринки, які чекають саме Вас</p>



