<header class="header">
  <a class="header__logo" href="#">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </a>
  <div class="header__menu">
    <ul class="header__nav">
      <li><button mat-button>Basic</button></li>
      <li><button mat-button>Basic</button></li>
      <li><button mat-button>Basic</button></li>
      <li><button mat-button>Basic</button></li>
      <li><button mat-button>Basic</button></li>
    </ul>
    <a class="header__phone" href="">+38(096)-937-99-92</a>
    <button mat-raised-button color="primary">Primary</button>
  </div>
</header>
