<div class="main_veterenarians">
  <h2>Наші ветеринари</h2>
</div>
<section class="veterenarians-section">
  <div class="veterenarians__container">
    <ul class="veterenarians__cards-set">
      <li class="item">
        <div class="veterenarians__cards-set_photo"></div>
        <h4 class="veterenarians__cards-set_name">Vlad Ivanov</h4>
        <p class="veterenarians__cards-set_position text-color-theme">Ветеринар</p>
        <p class="veterenarians__cards-set_position-about text-color-theme">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item">
        <div class="veterenarians__cards-set_photo"></div>
        <h4 class="veterenarians__cards-set_name">Bogdan Makarov</h4>
        <p class="veterenarians__cards-set_position text-color-theme">Ветеринар</p>
        <p class="veterenarians__cards-set_position-about text-color-theme">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item">
        <div class="veterenarians__cards-set_photo"></div>
        <h4 class="veterenarians__cards-set_name">Pavel Konov</h4>
        <p class="veterenarians__cards-set_position text-color-theme">Ветеринар</p>
        <p class="veterenarians__cards-set_position-about text-color-theme">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item">
        <div class="veterenarians__cards-set_photo"></div>
        <h4 class="veterenarians__cards-set_name">Max Belov</h4>
        <p class="veterenarians__cards-set_position text-color-theme">Ветеринар</p>
        <p class="veterenarians__cards-set_position-about text-color-theme">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
    </ul>
  </div>
</section>