<h3 class="filter-title">Знайди відповідну клініку</h3>
<form class="form-filter" *ngIf="(vetsInfo$ | async) as vetsInfo">
  <div class="main-wrap">
    <div class="child-wrap">
      <div class="input-wrapper">
        <label class="form-filter__label" for="title">Hазва</label>
        <select id="title" name="title" [(ngModel)]="vet.title" class="form-filter__input">
          <option></option>
          <option *ngFor='let item of vetsInfo | uniq:"title"'>
            {{item.title}}
          </option>
        </select>
      </div>
    </div>

    <div class="child-wrap">
      <div class="input-wrapper">
        <label class="form-filter__label" for="type">Спеціалізація</label>
        <select id="type" name="type" [(ngModel)]="vet.animal_type" class="form-filter__input">
          <option></option>
          <option *ngFor='let item of vetsInfo | uniq:"animal_type"'>
            {{item.animal_type}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="input-wrapper">
    <label class="form-filter__label" for="adress">Aдреса</label>
    <select id="adress" name="adress" [(ngModel)]="vet.adress" class="form-filter__input">
      <option></option>
      <option *ngFor='let item of vetsInfo | uniq:"adress"'>
        {{item.adress}}
      </option>
    </select>
  </div>

  <button class="form-filter-btn" type="submit" (click)="onSubmite()">Знайти</button>
</form>

<p class="card-filter-title">Клініки, де Вам завжди допоможуть</p>

<app-loading></app-loading>

<div class="wrap-filter-result">

  <ng-container *ngIf="(vetsFilterInfo$ | async) as vetsFilterInfo">
    <app-vets-filter-result *ngFor="let item of vetsFilterInfo" [data]="item"></app-vets-filter-result>
  </ng-container>

</div>
