<div class="wrapper" *ngIf="volonteersInfo$ | async as volonteersInfo">
  <section class="volonteers-info-section">
    <div class="title-wrapper">
      <h2 class="volonteers-info-section__title">{{ volonteersInfo.first_name }} {{ volonteersInfo.last_name }}</h2>
    </div>
    <div class="content wrapper">
      <div class="main-content">
        <div class="volonteers-card__wrapper">
          <img class="volonteers-card__img" src="../../../../assets/volonteersPictures/volonteer_0{{ volonteersInfo.id }}.jpg"
            alt="image of volonteers" />
        </div>
        <div class="info-wrapper">
          <p class="volonteer-number">Номер телефону : <span class="number"><a href="tel:{{ volonteersInfo.number }}"
                class="link">{{ volonteersInfo.number }}</a></span></p>
          <p class="volonteer-email">E-mail волонтера : <span class="email"><a href="mailto:{{ volonteersInfo.email }}"
                class="link">{{ volonteersInfo.email }}</a></span></p>
          <div class="content-text">
            {{ volonteersInfo.first_name }} 44 роки. І все життя тісно пов'язано із тваринами. Це аж ніяк не хобі – а
            професія, в високо піднято планку. Сьогодні ці регалії важко перерахувати. Ліцензований
            інструктор-дресирувальник Українського кінологічного об'єднання, фігурант та суддя з робочих якостей,
            експерт зі службових випробувань собак.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
