<section class="about-us-section">
  <div class="about-us-section__text-wrapper">
    <h1 class="about-us-section__title">About us</h1>
    <p class="about-us-section__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ut iure
      asperiores nulla iusto consequuntur cum praesentium dolores possimus,
      ipsum voluptatibus quidem aut quia modi, hic id eos omnis molestiae? Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Iste, adipisci minus.
      Error officia suscipit, possimus autem quam quas accusamus maxime quasi,
      nobis inventore aspernatur ut esse debitis sequi tenetur dolores. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="about-us-section__img-wrapper">
    <img
      class="about-us-section__img"
      src="../../../../assets/about.jpeg"
      alt="pets"
    />
  </div>
</section>
