.about__main {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	height: 600px;
	padding: 40px;
	color: white;
	align-items: center;
	background-size: cover;
	position: relative;
}

#myVideo {
	position: absolute;
	max-width: 100%;
	min-height: 100%;
	z-index: 0;
}

.about__text {
	border-radius: 4px;
	margin-top: 60px;
	position: absolute;
	right: 0;
	z-index: 5;
	background: rgba(48, 60, 75, 0.694);
	width: 40%;
	h1 {
		padding-left: 10px;
		margin: 20px 0;
		font-size: 40px;
		font-style: bold;
	}
	p {
		text-align: justify;
		padding: 0px 10px;
		font-size: 22px;
		line-height: 1.5;
	}
}

@media (max-width: 768px) {
	.about__text p {
		font-size: 20px;
	}
}
