<section class="main__donate">
  <mat-card>
    <mat-card-title>
      <h1>We need your help</h1>
    </mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="tel" matInput placeholder="1000 uah">
      </mat-form-field>
    </form>
    <li><button mat-raised-button color="accent">Donate</button></li>
    <mat-card-actions>
      <button mat-button>50 uah</button>
      <button mat-button>100 uah</button>
      <button mat-button>200 uah</button>
      <button mat-button>500 uah</button>
    </mat-card-actions>
  </mat-card>
  <br>
</section>
