<form [formGroup]="service.form" class="normal-form" (ngSubmit)='onSubmit()'>
  <div class="modal-header">
    <span class="admin-voluntiers-dialog">{{service.form.controls['id'].value?"Змінити волонтера":"Додати волонтера"}}</span>
  </div>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName='id'>
        <mat-form-field>
          <input formControlName='first_name' matInput placeholder="Ім'я">
          <mat-error *ngIf="service.form.controls['first_name'].hasError('pattern')">Допустимі символи а-Я</mat-error>
          <mat-error *ngIf="service.form.controls['first_name'].hasError('required')">Це поле обов'язкове</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName='last_name' matInput placeholder="Прізвище">
          <mat-error *ngIf="service.form.controls['last_name'].hasError('pattern')">Допустимі символи а-Я</mat-error>
          <mat-error *ngIf="service.form.controls['last_name'].hasError('required')">Це поле обов'язкове</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName='email' matInput placeholder="Email" type="email">
          <mat-error>Невірно вказаний email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName='number' matInput placeholder="Номер телефону">
          <mat-error *ngIf="service.form.controls['number'].hasError('pattern')">Невірний формат</mat-error>
          <mat-error *ngIf="service.form.controls['number'].hasError('required')">Це поле обов'язкове</mat-error>

        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-row">
    <button mat-raised-button color="primary"  type="submit" class="addVolunteerBtn" 
      [disabled]="service.form.invalid">{{service.form.controls['id'].value?"Змінити волонтера":"Додати волонтера"}}</button>
    <button mat-raised-button color="warn" type="reset" (click)="onClear()">Очитити</button>
    <button mat-raised-button color="basic" type ="button"(click)="dialogRef.close(false)">Cкасувати</button>
  </div>
</form>
