@import 'variables.scss';

.main__volonteer-edit-page {
	margin: 15px 50px;
}
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
}
.form-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items:center
}

.mat-row {
	background-color: transparent;
	&:hover {
		background-color: $main-blue;
		cursor: pointer;
	}
}
.volunteers_btn	{
	width: 170px;
	height: 40px;
	text-transform: uppercase;
}
.mat-header-cell {
	color: $main-orange;
}
