<section class="about__main">
  <div class="about__text">
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ut iure asperiores nulla iusto consequuntur cum
      praesentium dolores possimus, ipsum voluptatibus quidem aut quia modi, hic id eos omnis molestiae?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, adipisci minus. Error officia suscipit, possimus
      autem quam quas accusamus maxime quasi, nobis inventore aspernatur ut esse debitis sequi tenetur dolores.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="about__img"><img src="../../../../assets/about.jpeg" alt="pets"></div>
</section>
