@import 'variables.scss';
.mat-button {
	&:hover {
		color: $main-orange;
		border-color: $main-orange;
		cursor: pointer;
		background-color: $button-background;
	}
	border: 1px solid $main-blue;
	border-radius: 3px;
	color: $main-blue;
}

mat-dialog-content {
	min-width: 200px;
	min-height: 120px;
}
