/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import './styles/variables.scss';
@include mat.core();

$client-primary: mat.define-palette(mat.$blue-palette);
$client-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$client-light-theme: mat.define-light-theme($client-primary, $client-accent, $client-warn);
$client-dark-theme: mat.define-dark-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-light-theme);
@media (prefers-color-scheme: dark) {
	@include mat.all-component-themes($client-dark-theme);
}
// @media (prefers-color-scheme: dark) {
// 	@include mat.all-component-themes($dark-theme);
// }
// Apply the dark theme by default
// @include mat.all-component-themes($dark-theme);
// @include mat.all-component-themes($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
// .my-light-theme {
// 	@include mat.all-component-themes($light-theme);
// 	@include mat.all-component-themes($light-theme);
// }

body {
	margin: 0;
}
li,
a {
	list-style: none;
	text-decoration: none;
	color: $black;
}

h1 {
	font-size: 30px;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-card:not([class*='mat-elevation-z']) {
	box-shadow: none;
}
button {
	outline: none;
	border: none;
}
html {
	scroll-behavior: smooth;
}

// / snackbar
.success.mat-snack-bar-container {
	background: $snackbar-success;
	color: $white;
}
.error.mat-snack-bar-container {
	background: $snackbar-error;
	color: $white;
}
.info.mat-snack-bar-container {
	background: $snackbar-info;
	color: $white;
}
.mat-snack-bar-container .mat-button-wrapper {
	color: $white;
}
form.normal-form {
	margin: 10px;
}
