<mat-card class=" volonteers-card">
  <div class="volonteers-card__wrapper" [routerLink]="['/volonteers-list', volonteersInfo.id]">
    <img class="volonteers-card__img"
      src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FvolotneersPictures%2Fvolonteer_0{{ volonteersInfo.id }}.jpg?alt=media&token=9dd5f958-2b9d-40a1-af9f-22bfb5e2035d"
      alt="image of volonteers" />
  </div>

  <mat-card-content class="volonteers-card__volonteers-info-container">
    <mat-card-subtitle><span class="volonteers-card__volonteers-info-name">{{volonteersInfo.first_name}}
        {{volonteersInfo.last_name}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle><span class="volonteers-card__volonteers-info-item">E-mail : <a href="{{volonteersInfo.email}}"
          class="volonteers-info-section__info-wrapper">{{volonteersInfo.email}}</a></span></mat-card-subtitle>
  </mat-card-content>
</mat-card>