<section class="update-vet-page">
  <table mat-table [dataSource]="vetsInfo$" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Назва клініки</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="adress">
          <th mat-header-cell *matHeaderCellDef>Адреса</th>
          <td mat-cell *matCellDef="let element">{{element.adress}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
