
.header {
	width: 100%;
	background-color: #fff;
	z-index: 5;
	position: fixed;
	top: 0%;
}
.header__content {
	display: flex;
	align-items: center;
	max-width: 1200px;
	font-size: 20px;
	height: 90px;
	margin: 0 auto ;
	padding: 10px;
}

.header__menu {
	display: flex;
	align-items: center;
	width: 100%;
    justify-content: space-around;
	padding: 10px;
}
.header__nav {
	display: flex;
	flex-direction: row;
	margin: 0px;
		
}
.header__phone {
	margin-right: 50px;
	
}


.mat-button {
	font-size: 20px;
	margin-right: 20px;
}

@media ( max-width: 768px) {
	.example-button-container {
		display: none;
	}
}