<section class="news__main">
  <h1 class="news__titel">Our news</h1>
  <ul class="news__cards">
    <li>
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
        <mat-card-content>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam odit praesentium fugiat, soluta laborum nostrum
          eius laudantium, sed sint ut facilis sequi repellendus eaque aliquid molestiae deleniti possimus eos odio?
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, qui laborum autem vitae, accusantium amet
          ratione possimus blanditiis, quis doloremque eos voluptas consectetur deserunt nemo nihil inventore pariatur
          dolores id?
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur sit explicabo corrupti neque
          voluptates deleniti architecto possimus. Explicabo sed delectus quia natus temporibus placeat ipsum recusandae
          nostrum in culpa.
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</section>
