<section class="animals-types-section">
  <div class="main_animals-types">
    <h2>Наша спеціалізація</h2>
  </div>
  <div class="animals-types__container">
    <ul class="animals-types__cards-set">
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img src="../../../../assets/animalTypes/lizard.png" alt="icon with reptile"
            class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Рептилії</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img src="../../../../assets/animalTypes/cat.png" alt="icon with cat" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Коти</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img src="../../../../assets/animalTypes/dog.png" alt="icon with dog" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Собаки</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img src="../../../../assets/animalTypes/bird.png" alt="icon with bird"
            class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Птахи</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img src="../../../../assets/animalTypes/mouse.png" alt="icon with mouse"
            class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Гризуни</h4>
      </li>
    </ul>
  </div>
</section>