<section class="animals-types-section">
  <div class="main_animals-types">
    <h2>Наша спеціалізація</h2>
  </div>
  <div class="animals-types__container">
    <ul class="animals-types__cards-set">
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FanimalTypes%2Flizard.png?alt=media&token=3a87ddb8-0bc4-42ff-b9f8-74a214297fec"
            alt="icon with reptile" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Рептилії</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FanimalTypes%2Fcat.png?alt=media&token=32292d95-ff6c-4028-b82d-0dc8fb43cd84"
            alt="icon with cat" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Коти</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FanimalTypes%2Fdog.png?alt=media&token=a2603d55-49ab-41e2-afa3-57f366ed1584"
            alt="icon with dog" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Собаки</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FanimalTypes%2Fbird.png?alt=media&token=b92dc1c5-bbf1-4134-88b0-00e29a044014"
            alt="icon with bird" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Птахи</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FanimalTypes%2Fmouse.png?alt=media&token=554a7401-38f2-4840-89df-fe9ad0c4a7e0"
            alt="icon with mouse" class="animals-types__cards-set_img" />
        </div>
        <h4 class="animals-types__cards-set_title">Гризуни</h4>
      </li>
    </ul>
  </div>
</section>
