@media(max-width: 770px){
  
  .animals-types__cards-set .item{
  // flex-basis: calc(100% / 3);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  // flex-basis: 0;
  // flex-direction: column;
}
.animals-types__cards-set_img {
  //   background: #4788b6;
  height: 60px;
  width: 60px;
  //   border-radius: 50%;
  //   margin: 20px auto;
}
}


.main_animals-types {
  text-align: center;
  padding: 75px 0 65px 0;
  color: #4788b6;
}

.main_animals-types h2 {
  font-size: 30px;
  font-weight: 600;
}

.animals-types__cards-set {
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.animals-types__cards-set > .item {
  flex-basis: calc(100% / 5);
  text-align: center;
}

.animals-types__cards-set_img {
  //   background: #4788b6;
  height: 100px;
  width: 100px;
  //   border-radius: 50%;
  //   margin: 20px auto;
}
.animals-types__cards-set_title {
  font-size: 20px;
  margin-bottom: 7px;
  color: #f5962a;
}
