<div class="main_animals-types">
  <h2>Наша спеціалізація</h2>
</div>
<section class="animals-types-section">
  <div class="animals-types__container">
    <ul class="animals-types__cards-set">
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="../../../../assets/animalTypes/iguana.png"
            alt="icon with reptile"
            class="animals-types__cards-set_img"
          />
        </div>
        <h4 class="animals-types__cards-set_title">Reptiles</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="../../../../assets/animalTypes/cat.png"
            alt="icon with cat"
            class="animals-types__cards-set_img"
          />
        </div>
        <h4 class="animals-types__cards-set_title">Cats</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="../../../../assets/animalTypes/dog.png"
            alt="icon with dog"
            class="animals-types__cards-set_img"
          />
        </div>
        <h4 class="animals-types__cards-set_title">Dogs</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="../../../../assets/animalTypes/bird.png"
            alt="icon with bird"
            class="animals-types__cards-set_img"
          />
        </div>
        <h4 class="animals-types__cards-set_title">Birds</h4>
      </li>
      <li class="item">
        <div class="animals-types__cards-set_imgage-wrapper">
          <img
            src="../../../../assets/animalTypes/mouse.png"
            alt="icon with mouse"
            class="animals-types__cards-set_img"
          />
        </div>
        <h4 class="animals-types__cards-set_title">Rodents</h4>
      </li>
    </ul>
  </div>
</section>
