<section class="donate-section">
	<mat-card class="donate-section__card">
		<h1 class="donate-section__card-title">Нам важлива твоя допомога</h1>

		<form class="example-form" (ngSubmit)="$event.preventDefault()">
			<input
				class="donate-section__card-input"
				placeholder="1000 грн"
				type="number"
				name="first"
				[(ngModel)]="amount" />
			<button class="donate-section__card-pay-btn" (click)="onClickSubmit()">Задонатити</button>
		</form>

		<mat-card-actions>
			<button class="donate-section__card-btn" (click)="addValue(50)">50 грн</button>
			<button class="donate-section__card-btn" (click)="addValue(100)">100 грн</button>
			<button class="donate-section__card-btn" (click)="addValue(200)">200 грн</button>
			<button class="donate-section__card-btn" (click)="addValue(500)">500 грн</button>
		</mat-card-actions>
	</mat-card>
</section>
