<section class="donate-section">
	<mat-card class="donate-section__card">
		<h1 class="donate-section__card-title">We need your help</h1>

		<form class="example-form">
			<input class="donate-section__card-input" type="tel" matInput placeholder="1000 uah" />
		</form>
		<mat-card-actions>
			<button class="donate-section__card-btn">50 uah</button>
			<button class="donate-section__card-btn">100 uah</button>
			<button class="donate-section__card-btn">200 uah</button>
			<button class="donate-section__card-btn">500 uah</button>
		</mat-card-actions>
	</mat-card>
	<br />
</section>
