@import 'variables.scss';

.donate-section {
	display: flex;
	justify-content: center;

	width: 100%;

	border-radius: 3px;
	padding: 20px 0;
}

.donate-section__card-input {
	height: 50px;
	font-size: 20px;

	margin-bottom: 20px;
	margin-right: 20px;

	padding: 0 10px;
	border: 2px solid $main-blue;
	border-radius: 3px;
	outline: none;
	&:hover,
	:focus {
		border-color: $main-orange;
	}
	@media screen and (min-width:768px) {
		width: 400px;	
	}
}
mat-card {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: inherit;
	flex-direction: column;
	opacity: 0.9;
	h1 {
		font-size: 40px;
	}
}
.donate-section__card-title {
	text-align: center;
	color: $main-blue;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 30px;
}
.donate-section__card-btn {

	padding: 10px;

	border: 1px solid $main-blue;
	border-radius: 3px;
	color: $main-blue;
	background-color: inherit;
	font-size: 20px;

	&:not(:last-child) {
		margin-right: 20px;
	}
	&:hover {
		color: $main-orange;
		border-color: $main-orange;
		cursor: pointer;
		background-color: $button-background;
	}
	@media screen and (min-width:678px) {
	width: 150px;
	height: 50px;
	}
}
.donate-section__card-pay-btn {
	width: 150px;
	height: 53px;

	border: 2px solid $main-blue;
	border-radius: 3px;
	color: $main-blue;
	background-color: inherit;
	font-size: 20px;
	&:hover {
		color: $main-orange;
		border-color: $main-orange;
		cursor: pointer;
		background-color: $button-background-donate;
	}
}
