<section class="volonteers-info-section">
  <div class="wrapper">
    <h2 class="volonteers-title">Наші волонтери</h2>
    <div class="volonteers-text">
      <h2 class="volonteers-text-title">
        Хто такий Волонтер?
      </h2>
      <p class="volonteers-text-message">
        Якщо ви хочете допомагати бездомним тваринам, але не знаєте, як це зробити і з чого почати — цей розділ для вас.
        Ви активна людина, любите тварин, у вас є вільний час та бажання робити добрі та важливі вчинки – ви можете стати частиною команди допомоги та порятунку бездомних тварин.
      </p>
    </div>
    <section class="volonteers-list-section">
      <ul class="volonteers-list-section__container">
        <ng-container *ngIf="(volonteersDetailInfo$ | async) as volonteersDetailInfo">
          <li class="volonteers-list-section__card" *ngFor="let volonteers of volonteersDetailInfo">
            <app-volonteers-list-card [volonteersInfo]="volonteers"></app-volonteers-list-card>
          </li>
        </ng-container>
      </ul>
    </section>
    <button class="volonteers-button">Стати волонтером</button>
  </div>

</section>
