<section class="volonteers-info-section">
  <div class="wrapper">
    <h2 class="volonteers-title">Наші волонтери</h2>
    <div class="volonteers-text">
      <h2 class="volonteers-text-title">
        Хто такий Волонтер?
      </h2>
      <p class="volonteers-text-message">
        Якщо ви хочете допомагати бездомним тваринам, але не знаєте, як це зробити і з чого почати — цей розділ для вас.
        Ви активна людина, любите тварин, у вас є вільний час та бажання робити добрі та важливі вчинки – ви можете стати частиною команди допомоги та порятунку бездомних тварин.
      </p>
    </div>
    <div class="volonteer-card">
      <div class="volonteer-img-wrapper">
        <img src="../../../../assets/volonteersPictures/volonteer_01.jpg" alt="Volonteer picture" class="volonteer-img">
      </div>
    <div class="volonteer-info-wrapper">
      <ul class="volonteer-info-list">
        <li class="volonteer-info-name">Левко Оксана Василівна</li>
        <li class="volonteer-info-detail-info">Оксані 44 роки. І все своє життя вонан тісно пов'язана із собаками. Для нього це аж ніяк не хобі – а професія, в якій вона високо підняла планку. Сьогодні її регалії важко перерахувати. Вона – ліцензований інструктор-дресирувальник Українського кінологічного об'єднання, фігурант та суддя з робочих якостей, експерт зі службових випробувань собак, а також власник розплідника німецьких вівчарок.</li>
        <li class="volonteer-info-contact">Для звязку з волонтером : <a href="mailto:exaple@gmail.com" class="volonteer-info-contact__mail">exaple@gmail.com</a></li>
      </ul>
  </div>
  </div>
    <div class="volonteer-card">
      <div class="volonteer-img-wrapper">
        <img src="../../../../assets/volonteersPictures/volonteer_02.jpg" alt="Volonteer picture" class="volonteer-img">
      </div>
      <div class="volonteer-info-wrapper">
        <ul class="volonteer-info-list">
          <li class="volonteer-info-name">Сагайдачний Віктор Васильович</li>
          <li class="volonteer-info-detail-info">Віктору 44 роки. І все своє життя він тісно пов'язаний із собаками. Для нього це аж ніяк не хобі – а професія, в якій він високо підняв планку. Сьогодні його регалії важко перерахувати. Він – ліцензований інструктор-дресирувальник Українського кінологічного об'єднання, фігурант та суддя з робочих якостей, експерт зі службових випробувань собак, а також власник розплідника німецьких вівчарок.</li>
          <li class="volonteer-info-contact">Для звязку з волонтером : <a href="mailto:exaple@gmail.com" class="volonteer-info-contact__mail">exaple@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="volonteer-card">
      <div class="volonteer-img-wrapper">
        <img src="../../../../assets/volonteersPictures/volonteer_03.jpg" alt="Volonteer picture" class="volonteer-img">
      </div>
      <div class="volonteer-info-wrapper">
        <ul class="volonteer-info-list">
          <li class="volonteer-info-name">Лукашук Олександр Дмитрович</li>
          <li class="volonteer-info-detail-info">Олександру 44 роки. І все своє життя він тісно пов'язаний із собаками. Для нього це аж ніяк не хобі – а професія, в якій він високо підняв планку. Сьогодні його регалії важко перерахувати. Він – ліцензований інструктор-дресирувальник Українського кінологічного об'єднання, фігурант та суддя з робочих якостей, експерт зі службових випробувань собак, а також власник розплідника німецьких вівчарок.</li>
          <li class="volonteer-info-contact">Для звязку з волонтером : <a href="mailto:exaple@gmail.com" class="volonteer-info-contact__mail">exaple@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <button class="volonteers-button">Стати волонтером</button>
  </div>


</section>
