<!-- <section class="animal-main" *ngIf="(petsInfo$ | async) as petsInfo"> -->
<section class="animal-main">

    <!-- <form class="example-form">
        <div class="animal-main__photo">
            <img class="animal-main__photo__img" src="../../../../assets//animalsPictures/animal_0{{ petsInfo.id }}.jpg"
                alt="image of pet" />

        </div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.name }}</mat-label>
            <input matInput name="name" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.breed }}</mat-label>
            <input matInput name="breed" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.gender }}</mat-label>
            <input matInput name="gender" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.age }}</mat-label>
            <input matInput name="age" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.shelter_name}}</mat-label>
            <input matInput name="shelter_name" ngModel required>
        </mat-form-field> -->

    <!-- <mat-form-field appearance="fill">
            <mat-label>{{ petsInfo.curator }}</mat-label>
            <mat-select ngModel name='curator'>
                <mat-option *ngFor="let curator of curators" [value]="curator">{{curator}}</mat-option>
            </mat-select>
        </mat-form-field> -->


    <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.short_info }}</mat-label>
            <textarea matInput name="short_info" ngModel></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.behavioral_features }}</mat-label>
            <textarea matInput name="behavioral_features" ngModel></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ petsInfo.wishes_for_shelter }}</mat-label>
            <textarea matInput name="wishes_for_shelter" ngModel></textarea>
        </mat-form-field>
        <div class="demo-button-container">
            <button mat-raised-button class="demo-button">
                Зберегти зміни
            </button>
        </div>
    </form>
</section> -->
    <mat-form-field appearance="standard">
        <mat-label>Пошук</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Почніть писати" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Ім'я</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Стать</th>
            <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>

        <!-- Breed Column -->
        <ng-container matColumnDef="breed" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Порода</th>
            <td mat-cell *matCellDef="let element">{{element.breed}}</td>
        </ng-container>
        <!-- Age Column -->
        <ng-container matColumnDef="age" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Вік</th>
            <td mat-cell *matCellDef="let element">{{element.age}}</td>
        </ng-container>

        <!-- Curator Column -->
        <ng-container matColumnDef="curator" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Куратор</th>
            <td mat-cell *matCellDef="let element">{{element.curator}}</td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Відсутні об'єкти для відображення "{{input.value}}"</td>
        </tr>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>