
.stat__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px;
	 h1{
		 font-size: 60px;
		 font-style: bold;
	 }
	

}
.stat__content {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-evenly;
}

.content__img {
	max-width: 150px;
	max-height: 150px
}

.stat__content{
	display: flex;
	align-items: center;
	justify-content: space-around;

}
