<section class="animal__main">

  <div class="animal__photo">
    <img
      src="../../../assets/animalsPictures/animal_01.jpg"
      alt="image of pet"
    />

    <button class="check_btn" mat-raised-button>
      Забрати додому
    </button>
  </div>

  <div class="animal__info">
    <h1> Colobus, magistrate black </h1>
    <h3 class="main_info"> Порода:
      <p> Colobus guerza </p>
    </h3>
    <h3 class="main_info"> Стать:
      <p> F </p>
    </h3>
    <h3 class="main_info"> Вік:
      <p> 2 роки </p>
    </h3>
    <h3 class="main_info"> Притулок:
      <p> Приватний притулок для собак </p>
    </h3>
    <h3 class="main_info"> Куратор:
      <p> Мамчур Аліса Бекішівна </p>
    </h3>
    <h3 class="main_info"> Історія:
      <p> Маленьку дівчинку підібрали та принесли до притулку </p>
    </h3>
    <h3 class="main_info"> Повадки:
      <p> Міка дуже ніжна кішечка, любить ласку і увагу, обожнює гратися </p>
    </h3>
    <h3 class="main_info"> Побажання при адопції:
      <p> Подарує своєму господареві радість і всю свою неосяжну любов! </p>
    </h3>
  </div>

</section>
