<section class="animal__main">

  <div class="animal__photo">
    <img
      src="../../../../assets//animalsPictures/animal_01.jpg"
      alt="image of pet"
    />

    <button class="animal__btn1" mat-raised-button>
      Забрати додому
    </button>
    <button class="animal__btn2" mat-raised-button>
      Надати допомогу
    </button>
  </div>

  <div class="animal__info">
    <h2> Colobus, magistrate black </h2>
    <h3 class="main_info"> Порода:
      <span> Colobus guerza </span>
    </h3>
    <h3 class="main_info"> Стать:
      <span> F </span>
    </h3>
    <h3 class="main_info"> Вік:
      <span> 2 роки </span>
    </h3>
    <h3 class="main_info"> Притулок:
      <span> Приватний притулок для собак </span>
    </h3>
    <h3 class="main_info"> Куратор:
      <span> Мамчур Аліса Бекішівна </span>
    </h3>
    <h3 class="main_info"> Історія:
      <span> Маленьку дівчинку підібрали та принесли до притулку </span>
    </h3>
    <h3 class="main_info"> Повадки:
      <span> Міка дуже ніжна кішечка, любить ласку і увагу, обожнює гратися </span>
    </h3>
    <h3 class="main_info"> Побажання при адопції:
      <span> Подарує своєму господареві радість і всю свою неосяжну любов! </span>
    </h3>
  </div>

</section>
