<section class="pet-services-section">
  <h2 class="pet-services-section__title"> Ви можете зробити наступні кроки...</h2>
  <ul class="pet-services-section__list">
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services3.png" alt="" />
      <span class="pet-services-section__item-text"> Нагодувати</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services1.jpg" alt="" />
      <span class="pet-services-section__item-text">Знайти сім'ю</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services2.png" alt="" />
      <span class="pet-services-section__item-text">Забрати собі</span>
    </li>
  </ul>
</section>