<section class="pet-services-section">
  <h2 class="pet-services-section__title"> Ви можете зробити наступні кроки...</h2>
  <ul class="pet-services-section__list">
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2Fpet-services3.png?alt=media&token=16fb0ca2-05fa-42d0-8e7e-ced6ff651222"
        alt="" />
      <span class="pet-services-section__item-text"> Нагодувати</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2Fpet-services1.png?alt=media&token=cb4a2fdf-3d46-4f5b-8cc2-127bdfcff8db"
        alt="" />
      <span class="pet-services-section__item-text">Знайти сім'ю</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2Fpet-services2.png?alt=media&token=478e88a7-0836-4aa2-b912-4859bac6789e"
        alt="" />
      <span class="pet-services-section__item-text">Забрати собі</span>
    </li>
  </ul>
</section>