<section class="pet-services-section">
  <h2 class="pet-services-section__title">You can do next steps...</h2>
  <ul class="pet-services-section__list">
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services3.png" alt="" />
      <span class="pet-services-section__item-text">to feed</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services1.png" alt="" />
      <span class="pet-services-section__item-text">to find a family</span>
    </li>
    <li class="pet-services-section__list-item">
      <div class="back"></div>
      <img src="../../../../assets/pet-services2.png" alt="" />
      <span class="pet-services-section__item-text">to find a home</span>
    </li>
  </ul>
</section>
