<mat-nav-list>
	<div class="profile-card">
		<div class="header">
			<h2>ADMIN</h2>
			<h4>admin@gmail.com</h4>
		</div>
		<img src="../../../../assets/logo.svg" alt="Admin_logo">
	</div>

	<mat-divider></mat-divider>

	<h2 matSubheader>Налаштування сайту</h2>

	<a mat-list-item routerLink="/admin/statistic">Статистика</a>
	<a mat-list-item routerLink="/admin/edit-vet">Клініки</a>
	<a mat-list-item routerLink="/admin/edit-pet">Тварини</a>
	<a mat-list-item routerLink="/admin/edit-volonteer">Волонтери</a>

	<mat-divider></mat-divider>

	<h2 matSubheader></h2>

	<button class="button-exit" mat-button (click)="openDialog()">
		<mat-icon>exit_to_app</mat-icon> Вийти
	</button>
</mat-nav-list>