<header class="header">
  <div class="header__content">
    <div class="example-button-container">
      <button
        mat-fab
        color="warn"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon routerLink="/">home</mat-icon>
      </button>
    </div>
    <div class="header__menu">
      <ul class="header__nav">
        <li><button mat-button routerLink="/">Home</button></li>
        <li><button mat-button>About</button></li>
        <li><button mat-button routerLink="/animalsList">Pets</button></li>
        <li><button mat-button routerLink="/vetsList">Vets</button></li>
        <li><button mat-button>Contacts</button></li>
      </ul>
      <a class="header__phone" href="">+38(096)-937-99-92</a>
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>
</header>
