<header class="header">
  <div class="header__content">
    <div class="logo" routerLink="/">
      <a href="#home">
        <div class="logo_icon"></div>
        <span class="logo_text">OurCompany</span>
      </a>
    </div>

    <div class="header__menu">
      <ul class="header__nav">
        <li class="header_nav_item">
          <button class="mat-button" routerLink="/">Home</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button">About</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" routerLink="/animalsList">Pets</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" routerLink="/vetsList">Vets</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button">Contacts</button>
          <div class="mat-button_decoration"></div>
        </li>
      </ul>
    </div>
  </div>
</header>
