<header class="header">
  <div class="header__content">
    <div class="logo" routerLink="/">
      <a href="#home">
        <div class="logo_icon"></div>
        <span class="logo_text">OurCompany</span>
      </a>
    </div>
    <div class="header__burger" (click)="clickEvent()" [ngClass]=" active ? 'active' : ''">
      <span></span>
    </div>
    <div class="header__menu" [ngClass]="active ? 'active' : 'hide'">
      <ul class="header__nav">
        <li class="header_nav_item">
          <button class="mat-button" routerLink="/" (click)="resetBurger()">Головна</button>
          <div class=" mat-button_decoration">
          </div>
        </li>
        <li class="header_nav_item">
          <button class="mat-button" (click)="resetBurger()">Про нас</button>
          <div class="mat-button_decoration"></div>
        </li>
        <li class="header_nav_item">
          <button class="mat-button" routerLink="/vetsList" (click)="resetBurger()">Клініки</button>
          <div class="mat-button_decoration"></div>
        </li>
        <li class="header_nav_item">
          <button class="mat-button" routerLink="/animalsList" (click)="resetBurger()">Тварини</button>
          <div class="mat-button_decoration"></div>
        </li>
        <li class="header_nav_item">
          <button class="mat-button" (click)="resetBurger()">Волонтери</button>
          <div class="mat-button_decoration"></div>
        </li>
      </ul>
    </div>
  </div>
</header>
