<header class="header">
  <div class="header__content">
    <div class="logo" routerLink="/">
      <a href="#home">
        <div class="logo_icon"></div>
        <span class="logo_text">OurCompany</span>
      </a>
    </div>
    <div class="header__burger" (click)="clickEvent()" [ngClass]=" active ? 'active' : ''">
      <span></span>
    </div>

    <div class="header__menu" [ngClass]="active ? 'active' : 'hide'">
      <ul class="header__nav">
        <li class="header_nav_item">
          <button class="mat-button" routerLink="/" (click)="clickEvent()">Home</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" (click)="clickEvent()">About</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" routerLink="/vetsList" (click)="clickEvent()">Vets</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" routerLink="/animalsList" (click)="clickEvent()">Pets</button>
          <div class="mat-button_decoration"></div>
        </li>

        <li class="header_nav_item">
          <button class="mat-button" (click)="clickEvent()">Contacts</button>
          <div class="mat-button_decoration"></div>
        </li>
      </ul>
    </div>
  </div>
</header>
