<div class="main_services">
  <h2>Наші послуги</h2>
</div>
<section class="services-section">
  <div class="services__container ">
    <ul class="services__cards-set ">
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Хірургія</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Травматологія</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Стоматологія</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Чіпування</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Терапія</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Стерилізація</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Неврологія</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
      <li class="item text-color-theme">
        <div class="services__cards-set_img"></div>
        <h4 class="services__cards-set_title">Вакцинація</h4>
        <p class="services__cards-set_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </li>
    </ul>
  </div>
</section>