@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
	// Get the color config from the theme.
	$color-config: mat.get-color-config($theme);

	// Get the primary color palette from the color-config.
	$primary-palette: map.get($color-config, 'primary');
	.vets-info-section__info-wrapper {
		color: mat.get-color-from-palette($primary-palette, 500-contrast);
	}
}
@mixin theme($theme) {
	$color-config: mat.get-color-config($theme);
	@if $color-config != null {
		@include color($theme);
	}
}

@import 'variables.scss';

@media (max-width: 800px) {
	.wrapper {
		max-width: none;
	}
	.vets-info-section__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: calc(100% / 2);
	}
}
.wrapper {
	max-width: 1200px;
	margin: 100px auto 0;
}

.vets-info-section__title {
	padding-bottom: 50px;
	text-align: center;
	font-size: 36px;
	color: $main-blue;
	font-weight: 600;
	padding-top: 25px;
}

.vets-info-section__container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	flex-basis: calc(100% / 3);
}

.vets-info-section__info-wrapper_text-bold {
	font-weight: bold;
}

.vets-info-section__img {
	object-fit: cover;
	display: block;
	height: 300px;
}
.vets-info-section__img-wrapper {
	flex: 1 1 300px;
}
.vets-info-section__info-wrapper {
	flex: 1 1 300px;
}
.vet__box_container-map {
	flex: 1 1 300px;
}
.vets-info-section__info_working-hours {
	padding: 0;
	margin: 0;
	list-style: none;
}
.vets-info-section__info_working-hours-blue {
	color: $main-blue;
}
.vets-info-section__info_working-hours-red {
	color: $reddish;
}
