@import 'variables.scss';
@media (max-width: 800px) {
	.wrapper {
		max-width: none;
	}
	.vets-info-section__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: calc(100% / 2);
	}
}
.wrapper {
	max-width: 1200px;
	margin: 100px auto 0;
}

.vets-info-section__title {
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
	color: $main-blue;
	font-weight: 600;
	padding-top: 25px;
}

.vets-info-section__container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	flex-basis: calc(100% / 3);
}

.vets-info-section__info-wrapper_text-bold {
	font-weight: bold;
}

.vets-info-section__img {
	object-fit: cover;
	display: block;
	height: 300px;
}
.vets-info-section__img-wrapper {
	flex: 1 1 300px;
}
.vets-info-section__info-wrapper {
	flex: 1 1 300px;
}
.vet__box_container-map {
	flex: 1 1 300px;
}
.vets-info-section__info_working-hours {
	padding: 0;
	margin: 0;
	list-style: none;
}
.vets-info-section__info_working-hours-blue {
	color: $main-blue;
}
.vets-info-section__info_working-hours-red {
	color: $reddish;
}

.vet-btn1 {
	padding-top: 30px;
	margin-left: 420px;
	font-size: 24px;
	color: $main-blue;
	background-color: $white;
	height: 50px;
	width: 350px;
	border: 1px solid;

	&:hover {
		color: $main-orange;
		border-color: $main-orange;
		cursor: pointer;
	}
}
