<div class="wrapper">
  <section class="vets-info-section">
    <h2 class="vets-info-section__title">Назва ветеринарної клініки</h2>
    <div class="vets-info-section__container">
      <div class="vets-info-section__img-wrapper">
        <img
          src="../../../../assets/vet_logo_placeholder_multicolor.png"
          alt="image of vet logo"
          class="vets-info-section__img"
        />
      </div>
      <div class="vets-info-section__info-wrapper">
        <h3 class="vets-info-section__info-wrapper-title">
          <span>Контакти</span>
        </h3>
        <div>
          <p class="vets-info-section__info-wrapper-item">
            <span>Адреса:</span> 098 Londonderry Alley
          </p>
          <p>
            <span>Телефон: </span> <a href="tel:205-216-8574">205-216-8574</a>
          </p>
          <p><span>Email:</span> example@gmail.com</p>
        </div>
      </div>
      <div class="vet__box_container-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81236.34419155818!2d30.419593636477423!3d50.48512434705645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d210dabec781%3A0xf850d0c26687e81f!2sTsentr%20Suchasnoyi%20Veterynarnoyi%20Medytsyny%20Obolon%CA%B92!5e0!3m2!1sru!2sua!4v1641281656786!5m2!1sru!2sua"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </section>

  <app-vet-animals-type></app-vet-animals-type>

  <app-vet-services></app-vet-services>

  <app-veterinarians></app-veterinarians>
</div>
