<section class="footer">
	<ul class="footer__list">
		<li>
			<h1>Services</h1>
		</li>
		<li>Service 1</li>
		<li>Service 2</li>
		<li>Service 3</li>
		<li>Service 4</li>
	</ul>
	<ul class="footer__list">
		<li>
			<h1>Vet</h1>
		</li>
		<li>Information</li>
		<li>Information</li>
		<li>Information</li>
		<li>Information</li>
	</ul>
	<ul class="footer__list">
		<li>
			<h1>For guests</h1>
		</li>
		<li>Information</li>
		<li>Information</li>
		<li>Information</li>
		<li>Information</li>
	</ul>
</section>
