<h2 class="form__title"> Додати нову клініку</h2>

<form class="example-form" #f="ngForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Назва клініки</mat-label>
    <input matInput value="" name="title" ngModel required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Адреса</mat-label>
    <input matInput value="" name="adress" ngModel required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Номер телефону</mat-label>
    <input matInput value="" name="phone" ngModel pattern="[- +()0-9]{10,}" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Електронна пошта</mat-label>
    <input matInput type="email" value="gmail@gmail.com" name="email" ngModel email="true" required />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>I-frame google-карти клініки</mat-label>
    <textarea matInput value="" name="map_link" ngModel></textarea>
  </mat-form-field>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onCreateClinic(f.value)"
    type="button">Додати
    клініку</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close(false)" type="button">Скасувати</button>
</mat-dialog-actions>

</form>
