.vet-card {
	background-color: #f0f5f958;
}
.vet-card__card-header {
	justify-content: center;
}

.vet-card__card-title {
	font-weight: bold;
	height: 50px;
}

.vet-card__vet-info-item {
	font-weight: bold;
	color: black;
	margin-left: 5px;
}
.vet-card_button {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color: #4788b6;
	color: #fff;
  transition: 0.2s;
	&:hover {
		background-color: #d68427;
	}
}
.ng-star-inserted {
  justify-content: center;
  align-items: center;
  display: flex;
}
