.vet-card {
	background-color: #f0f5f958;
	border: 2px solid #4788b6;

	&:hover {
		border: 2px solid #d68427;
	}
}
.vet-card__card-header {
	justify-content: center;
}
.pet-card__img {
	width: 328px;
	cursor: pointer;
}

.vet-card__card-title {
	font-weight: bold;
	height: 50px;
}

.vet-card__vet-info-item {
	font-weight: bold;
	color: black;
	margin-left: 5px;
}
.vet-card__button-container {
	display: flex;
	justify-content: center;
}
.vet-card_button {
	background-color: #4788b6;
	color: #fff;
	&:hover {
		background-color: #d68427;
		cursor: pointer;
	}
}
