@import 'variables.scss';
.vet-card {
	background-color: $list-item-background;
	border: 2px solid $main-blue;

	&:hover {
		border: 2px solid $main-orange;
	}
}
.vet-card {
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.vet-card__card-header {
	justify-content: center;
}
.pet-card__img {
	width: 328px;
	cursor: pointer;
}

.vet-card__card-title {
	font-weight: bold;
	height: 50px;
}

.vet-card__vet-info-item {
	font-weight: bold;
	color: $black;
	margin-left: 5px;
}
.vet-card__button-container {
	display: flex;
	justify-content: center;
  align-items: center;
}
.vet-card_button {
	background-color: $main-blue;
	color: $white;
	&:hover {
		background-color: $main-orange;
		cursor: pointer;
	}
}
