<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card>
    <app-widget-card label="Тварин:" total="12k" percentage="50" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Клінік:" total="10k" percentage="40" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Ветеренарів:" total="8k" percentage="30" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Всього записів:" total="6k" percentage="20" [data]="cards"></app-widget-card>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxFlex="40">
  <app-widget-pie [data]="pieChart"></app-widget-pie>
</div>