<br>

<mat-divider></mat-divider>

<br>

<div class="stats-cards">
  <mat-card>
    <app-widget-card label="Тварин:" total="23" percentage="56,1" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Клінік:" total="10" percentage="29,3" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Ветеренарів:" total="6" percentage="14,6" [data]="cards"></app-widget-card>
  </mat-card>
  <!-- <mat-card>
    <app-widget-card label="Всього записів:" total="6k" percentage="20" [data]="cards"></app-widget-card>
  </mat-card> -->
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxFlex="40">
  <app-widget-pie [data]="pieChart"></app-widget-pie>
</div>