@import 'variables.scss';

.admin-pets-dialog {
	text-align: center;
	color: $main-blue;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
}
.modal-wrapper{
  display: flex;
  gap: 30px;
  
}
.modal-right-section,
.modal-left-section{
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  align-content: space-between;
}
.example-full-width {
  width: 100%;
}
mat-form-field {
	margin-left: 5px;
}
.demo-button-container {
  padding: 8px 0;
  display: flex;
  justify-content: space-evenly;
}


