<section>

  <form class="example-form" #f='ngForm' *ngIf="(petsInfo$ | async) as petsInfo">
    <div class="admin-pets-dialog">Додати тваринку</div>
    <div class="modal-wrapper">
      <div class="modal-left-section">
        <mat-form-field class="example-full-width">
          <mat-label>Назва(кличка)</mat-label>
          <input matInput name="name" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Порода</mat-label>
          <input matInput name="breed" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Стать</mat-label>
          <mat-select ngModel required name='gender'>
            <mat-option *ngFor="let item of petsInfo" [value]="item.gender">{{item.gender}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Вік</mat-label>
          <input matInput name="age" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Притулок</mat-label>
          <input matInput name="shelter_name" ngModel required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Куратор</mat-label>
          <mat-select ngModel name='curator'>
            <mat-option *ngFor="let item of petsInfo" [value]="item.curator">{{item.curator}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="modal-right-section">
        <mat-form-field class="example-full-width">
          <mat-label>Історія</mat-label>
          <textarea matInput name="short_info" rows="4" ngModel></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Повадки</mat-label>
          <textarea matInput name="behavioral_features" rows="4" ngModel></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Побажання при адопції</mat-label>
          <textarea matInput name="wishes_for_shelter" rows="4" ngModel></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="demo-button-container">
      <button mat-raised-button [disabled]="!f.valid" (click)="onCreateAnimal(f.value)" type="button"
        color="primary">Підтвердити</button>
      <button type="button" mat-raised-button (click)="dialogRef.close(false)" color="warn">Скасувати</button>
    </div>
  </form>

</section>