.animal-card__card-header {
	justify-content: center;
	height: 55px;
}

.animal-card__card-title {
	font-weight: bold;
}

.animal-card__animal-info-item {
	font-weight: bold;
	color: black;
	margin-left: 5px;
}
