<mat-card class="animal-card">
	<img
		mat-card-image
		src="../../../assets/animalsPictures/animal_0{{ animalsInfo.id }}.jpg"
		alt="image of pet" />
	<mat-card-header class="animal-card__card-header">
		<mat-card-title class="animal-card__card-title">{{ animalsInfo.name }}</mat-card-title>
	</mat-card-header>
	<mat-card-content class="animal-card__animal-info-container">
		<mat-card-subtitle
			>Вік:
			<span class="animal-card__animal-info-item">{{ animalsInfo.age }} </span></mat-card-subtitle
		>
		<mat-card-subtitle>
			Порода:<span class="animal-card__animal-info-item">{{
				animalsInfo.breed
			}}</span></mat-card-subtitle
		>
		<mat-card-subtitle>
			Стать:
			<span class="animal-card__animal-info-item">{{ animalsInfo.gender }}</span>
		</mat-card-subtitle>

		<button mat-raised-button color="primary" [routerLink]="['/animalsList', animalsInfo.id]">
			Дізнатись більше
		</button>
	</mat-card-content>
</mat-card>
