.mat-button {
    &:hover {
      color: #d68427;
      border-color: #d68427;
      cursor: pointer;
      background-color: #60b4f034;
    }
	border: 1px solid #4788b6;
    border-radius: 3px;
	color: #4788b6;
  }

  mat-dialog-content {
	  min-width: 200px;
	  min-height: 120px;
  }

  