<section class="main__home">
  <div class="main__vets">
    <h1 class="main__vets_title">Vets</h1>
    <p class="main__vets_descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ex inventore iure error
      harum, laboriosam
      consectetur culpa expedita ipsam magni, ullam ducimus molestiae officiis est! Est similique quas facere hic.
    </p>
    <button mat-raised-button color="accent">Accent</button>
  </div>
  <div class="main__pets">
    <h1 class="main__pets_title">Pets</h1>
    <p class="main__pets_descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi cupiditate dolorum
      alias veritatis labore
      aliquid consectetur aliquam, numquam optio sequi nemo rem hic fuga officiis architecto. Amet, odit
      dignissimos.</p>
    <button mat-raised-button color="accent">Accent</button>
  </div>
</section>
