@import 'variables.scss';

.modal-wrapper {
	display: flex;
	gap: 30px;
}
.admin-pet-dialog {
	text-align: center;
	color: $main-blue;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 30px;
}
.modal-right-part,
.modal-left-part{
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  align-content: space-between;
}
.example-full-width {
	width: 100%;
}
mat-form-field {
	margin-left: 5px;
}
.id-hide {
	display: none;
}
.demo-button-container {
	display: flex;
	justify-content: space-evenly;
	padding: 8px 0;
}

