@use 'sass:map';
@use '@angular/material' as mat;
@use '../themes/light.scss' as typography;

@import 'variables.scss';
// @use '../components';

$client-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$client-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$client-dark-warn: mat.define-palette($mat-red);
$client-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $client-dark-primary,
			accent: $client-dark-accent,
			warn: $client-dark-warn
		)
	)
);
$client-dark-header-primary: mat.define-palette($header-dark);
$client-dark-header-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$client-dark-header-warn: mat.define-palette($mat-red);
$client-dark-header-theme: mat.define-dark-theme(
	(
		color: (
			primary: $client-dark-header-primary,
			accent: $client-dark-header-accent,
			warn: $client-dark-header-warn
		)
	)
);
