@use 'sass:map';
@use '@angular/material' as mat;
@use '../../app/shared/components/page-layout/header/header.component-theme' as header;
@import 'variables.scss';

$client-light-primary: mat.define-palette(mat.$indigo-palette);
$client-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$client-light-warn: mat.define-palette(mat.$red-palette);
$client-light-theme: mat.define-light-theme(
	(
		color: (
			primary: $client-light-primary,
			accent: $client-light-accent,
			warn: $client-light-warn
		)
	)
);

$client-light-header-primary: mat.define-palette($header-light);
$client-light-header-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$client-light-header-warn: mat.define-palette(mat.$red-palette);
$client-light-header-theme: mat.define-light-theme(
	(
		color: (
			primary: $client-light-header-primary,
			accent: $client-light-header-accent,
			warn: $client-light-header-warn
		)
	)
);
.light-theme {
	@include mat.core-color($client-light-theme);
	@include mat.all-component-themes($client-light-theme);
	@include header.theme($client-light-header-theme);
}
