<section class="pets-gethome-section">
	<h2 class="pets-gethome-section__title">Їм пора знайти домівку</h2>
	<ul class="pets-gethome-section__list">
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_01.jpg?alt=media&token=38a9b320-975e-42a4-97e7-942448608f56"
				alt="" />
			<span class="pets-gethome-section__item-text">Кошенята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_02.jpg?alt=media&token=62014e46-81b0-4e85-8830-deda437e4ddb"
				alt="" />
			<span class="pets-gethome-section__item-text">Коти</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_03.jpg?alt=media&token=4ba11da9-e52b-437a-bfb7-47fb31a0c6bb"
				alt="" />
			<span class="pets-gethome-section__item-text">Цуценята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_04.jpg?alt=media&token=c7e10899-8098-4087-a317-0f88c0068174"
				alt="" />
			<span class="pets-gethome-section__item-text">Маленькі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_05.jpg?alt=media&token=95e9d675-c6bf-43e7-ad6a-b7c27ef32592"
				alt="" />
			<span class="pets-gethome-section__item-text">Великі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets.appspot.com/o/assets%2FpetsGethome%2Fpet_06.jpg?alt=media&token=9da541fb-b6d7-48cc-b158-d8e68a590560"
				alt="" />
			<span class="pets-gethome-section__item-text">Інші тварини</span>
		</li>
	</ul>
</section>
