<section class="pets-gethome-section">
	<h2 class="pets-gethome-section__title">Їм пора знайти домівку</h2>
	<ul class="pets-gethome-section__list">
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_01.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Кошенята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_02.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Коти</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_03.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Цуценята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_04.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Маленькі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_05.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Великі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="../../../../assets/petsGethome/pet_06.jpg" alt="" />
			<span class="pets-gethome-section__item-text">Інші тварини</span>
		</li>
	</ul>
</section>
