<section class="pets-gethome-section">
	<h2 class="pets-gethome-section__title">Їм пора знайти домівку</h2>
	<ul class="pets-gethome-section__list">
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_01.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Кошенята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_02.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Коти</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_03.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Цуценята</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_04.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Маленькі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_05.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Великі собаки</span>
		</li>
		<li class="pets-gethome-section__list-item">
			<img src="https://firebasestorage.googleapis.com/v0/b/vetspets-c64ea.appspot.com/o/assets%2FpetsGethome%2Fpet_06.jpg?alt=media&token=21b3ae63-1824-4742-9e9f-81546ce2ccbe"
				alt="" />
			<span class="pets-gethome-section__item-text">Інші тварини</span>
		</li>
	</ul>
</section>