@import 'variables.scss';

.example-form {
	margin: 40px auto 15px;
	width: 100%;
}
.form-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.example-full-width {
	width: 100%;
}
td {
	padding-right: 8px;
}
.mat-raised-button {
	width: 160px;
	height: 40px;
	text-transform: uppercase;
}
mat-form-field {
	margin-left: 5px;
}
.demo-table {
	width: 100%;
}
.mat-row {
	background-color: transparent;
	&:hover {
		background-color: $main-blue;
	}
}
.mat-header-cell {
	font-weight: bold;
	color: $main-orange;
}
.mat-paginator {
	box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%),
		0px 3px 14px 2px rgb(0 0 0 / 12%);
	border-color: $grey;
	border-collapse: separate;
}
.vet-img {
	width: 50px;
	height: 50px;
  }

