<section class="main__vet-edit-page">
	<mat-tab-group mat-align-tabs="center">
		<mat-tab label="Додати клініку">
			<form class="example-form" (ngSubmit)="onCreateClinic(f.value)" #f="ngForm">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Назва клініки</mat-label>
					<input matInput value="" name="title" ngModel required />
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Адреса</mat-label>
					<input matInput value="" name="adress" ngModel required />
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Номер телефону</mat-label>
					<input matInput value="" name="phone" ngModel required />
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Електронна пошта</mat-label>
					<input matInput type="email" value="gmail@gmail.com" name="email" ngModel email="true" required />
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>I-frame google-карти клініки</mat-label>
					<textarea matInput value="" name="map_link" ngModel></textarea>
				</mat-form-field>

				<button mat-raised-button color="primary" [disabled]="!f.valid">Додати клініку</button>
			</form>
		</mat-tab>
		<mat-tab label="Редагувати клініку">
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Фільтр</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Назва клініки" #input style="width: 100%">
      </mat-form-field>
      <app-admin-update-vet></app-admin-update-vet>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-tab>
		<mat-tab label="Видалити клініку">
			<button mat-raised-button color="warn">Exterminate all clinics</button>
		</mat-tab>
	</mat-tab-group>
</section>
