<section class="main__vet-edit-page">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Додати клініку">

      <form class="example-form" (ngSubmit)="onCreateClinic(f.value)" #f="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Назва клініки</mat-label>
          <input matInput value="" name="title" ngModel required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Адреса</mat-label>
          <input matInput value="" name="adress" ngModel required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Номер телефону</mat-label>
          <input matInput value="" name="phone" ngModel required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Електронна пошта</mat-label>
          <input matInput type="email" value="gmail@gmail.com" name="email" ngModel email="true" required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>I-frame google-карти клініки</mat-label>
          <textarea matInput value="" name="map_link" ngModel></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!f.valid">Додати клініку</button>
      </form>

    </mat-tab>

    <mat-tab label="Редагувати клініку">Content 2</mat-tab>

    <mat-tab label="Видалити клініку">

      <mat-form-field appearance="standard">
        <mat-label>Фільтр</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field>

      <table mat-table [dataSource]="IVetsInfo$" class="mat-elevation-z8 demo-table" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Назва клініки</th>
          <td mat-cell *matCellDef="let element">{{element.title}}
          </td>
        </ng-container>

        <!-- Adress Column -->
        <ng-container matColumnDef="adress">
          <th mat-header-cell *matHeaderCellDef>Адреса</th>
          <td mat-cell *matCellDef="let element">{{element.adress}}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Телефон</th>
          <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Електронна пошта</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Видалити </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      <button mat-raised-button color="warn">Exterminate all clinics</button>
    </mat-tab>
  </mat-tab-group>

</section>
