<section class="main__vet-edit-page">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Скорочена назва</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Повна назва клініки</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Вулиця</mat-label>
                <textarea matInput placeholder="вулиця">вул. Соборна</textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>будинок</mat-label>
                        <input matInput placeholder="номер будинку">
                    </mat-form-field>
                </td>
                <td>

                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Індекс</mat-label>
                        <input matInput #postalCode maxlength="5" placeholder="33000" value="33000">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>

                <td>
                    <h4>Спеціалізація по типу тварин</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Тип тварин</mat-label>
                        <mat-select [formControl]="animalControl" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let animal of animals" [value]="animal">
                                {{animal.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="animalControl.hasError('required')">Виберіть тип тварини</mat-error>
                    </mat-form-field>
                </td>
                <td>

                    <h4>Спеціалізація</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Cпеціалізація</mat-label>
                        <mat-select [formControl]="vetSpecialization" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let spec of specialization" [value]="spec">
                                {{spec.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="animalControl.hasError('required')">Виберіть спеціалізацію</mat-error>
                    </mat-form-field>


                </td>
            </tr>
        </table>
        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>
    </form>
</section>