@import 'variables.scss';
.example-card {
	max-width: 400px;
	background-color: $button-background;
	margin: 200px auto;
	border: 1px solid $main-blue;
}

mat-form-field {
	width: 280px;
}

mat-label {
	color: $main-blue;
}

mat-card-title {
	margin-bottom: 50px;
	color: $main-orange;
}

mat-card-actions button {
	color: $main-blue;
}

mat-form-field{ 
	margin-bottom: 10px;
		button {
		color: $main-orange;
		}
}
  
