.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}

.mat-button {
	border: 1px solid #4788b6;
	border-radius: 3px;
	color: #4788b6;
}

.close-button {
	&:hover {
		color: #d68427;
		border-color: #d68427;
		cursor: pointer;
		background-color: #60b4f034;
	}
}

