.main__pet_slider {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
  .main__pet_slider__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    font-style: bold;
    color: #4788b6;
  }
}

.pet__slider_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 40px;
}

.example-card {
  margin: 0 10px;
  padding: 20px 10px;
  background-color: #f0f5f958;
  border: 2px solid #4788b6;

  &:hover {
    cursor: pointer;
    border: 2px solid #d68427;
  }
}

.pet__slider_cards__img {
  display: block;
  max-width: 100%;
  margin: 0;
}
.img_wrraper {
  width: 100%;

  border-radius: 3px;
  margin-bottom: 10px;
  overflow: hidden;
}
.pet__slider_cards_title {
  margin-bottom: 10px;
}
