<section class="main__pet_slider">
	<h1 class="main__pet_slider__title">Pets wanted</h1>
	<div class="pet__slider_cards">
		<mat-card class="example-card">
			<mat-card-header class="pet__slider_cards_title">
				<div class="example-header-image"></div>
				<mat-card-title>Shiba Inu</mat-card-title>
				<mat-card-subtitle>Dog Breed</mat-card-subtitle>
			</mat-card-header>
			<div class="img_wrraper">
				<img
					class="pet__slider_cards__img"
					mat-card-image
					src="https://material.angular.io/assets/img/examples/shiba2.jpg"
					alt="Photo of a Shiba Inu" />
			</div>
			<mat-card-content>
				<p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
					Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
					originally bred for hunting.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button>details</button>
				<button mat-button>choose an animal</button>
			</mat-card-actions>
		</mat-card>
		<mat-card class="example-card">
			<mat-card-header class="pet__slider_cards_title">
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Shiba Inu</mat-card-title>
				<mat-card-subtitle>choose an animal</mat-card-subtitle>
			</mat-card-header>
			<div class="img_wrraper">
				<img
					class="pet__slider_cards__img"
					mat-card-image
					src="https://material.angular.io/assets/img/examples/shiba2.jpg"
					alt="Photo of a Shiba Inu" />
			</div>
			<mat-card-content>
				<p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
					Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
					originally bred for hunting.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button>details</button>
				<button mat-button>choose an animal</button>
			</mat-card-actions>
		</mat-card>
		<mat-card class="example-card">
			<mat-card-header class="pet__slider_cards_title">
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Shiba Inu</mat-card-title>
				<mat-card-subtitle>Dog Breed</mat-card-subtitle>
			</mat-card-header>
			<div class="img_wrraper">
				<img
					class="pet__slider_cards__img"
					mat-card-image
					src="https://material.angular.io/assets/img/examples/shiba2.jpg"
					alt="Photo of a Shiba Inu" />
			</div>
			<mat-card-content>
				<p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
					Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
					originally bred for hunting.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button>details</button>
				<button mat-button>choose an animal</button>
			</mat-card-actions>
		</mat-card>
	</div>
</section>
