$main-blue: #4788b6;
$main-orange: #d68427;
$white: #fff;
$black: #000;
$lightgrey: #92999f;
$reddish: #bd2237;
$light-blue: #68a7d4;
$lightgreen: lightseagreen;
$grey: grey;

$snackbar-success: rgb(0, 206, 0);
$snackbar-error: red;
$snackbar-info: #d68427;

$button-background: #60b4f034;

$button-background-donate: #b6e1ffc2;

$button-home-background: #4788b64c;

$list-item-background: #f0f5f958;

$header-gradient-grey: #81bfeb74;
$header-gradient-darkblue: #064572c2;

$header-light: (
	50: #fefefe,
	100: #fefefe,
	200: #fdfdfd,
	300: #fcfcfc,
	400: #fbfbfb,
	500: #fafafa,
	600: #f9f9f9,
	700: #f9f9f9,
	800: #f8f8f8,
	900: #f6f6f6,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffffff,
	A700: #ffffff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$mat-red: (
	50: #fbeded,
	100: #f6d1d1,
	200: #f0b3b3,
	300: #e99494,
	400: #e57d7d,
	500: #e06666,
	600: #dc5e5e,
	700: #d85353,
	800: #d34949,
	900: #cb3838,
	A100: #ffffff,
	A200: #ffe2e2,
	A400: #ffafaf,
	A700: #ff9696,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
$header-dark: (
	50: #e6e6e6,
	100: #c1c1c1,
	200: #989898,
	300: #6e6e6e,
	400: #4f4f4f,
	500: #303030,
	600: #2b2b2b,
	700: #242424,
	800: #1e1e1e,
	900: #131313,
	A100: #ef6c6c,
	A200: #ea3e3e,
	A400: #f50000,
	A700: #db0000,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff
	)
);
