$main-blue: #4788b6;
$main-orange: #d68427;
$white: #fff;
$black: #000;
$lightgrey: #92999f;
$reddish: #bd2237;
$light-blue: #68a7d4;
$lightgreen: lightseagreen;
$grey: grey;

$snackbar-success: rgb(0, 206, 0);
$snackbar-error: red;
$snackbar-info: #d68427;

$button-background: #60b4f034;

$button-background-donate: #b6e1ffc2;

$button-home-background: #4788b64c;

$list-item-background: #f0f5f958;

$header-gradient-grey: #81bfeb74;
$header-gradient-darkblue: #064572c2;
