:host {
	.sidenav-container {
		height: 100%;
		margin-top: 70px;
	}

	.sidenav {
		width: 250px;
		height: 600px;
		margin-top: 70px;
	}

	.sidenav .mat-toolbar {
		background: inherit;
	}

	.mat-toolbar.mat-primary {
		position: sticky;
		top: 0;
		z-index: 1;
	}
	.nav__toolbar {
		background-color: #4788b6;
		color: #fff;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	.mat-button {
		font-size: 20px;
		color: white;
		padding: 0;
		min-height: 36px;
		min-width: 64px;
		font-weight: 600;
		&:hover {
			border-radius: 0;
			cursor: pointer;
		}
	}
	mat-icon {
		margin: -3px 0 0 0;
	}
}
