@import 'variables.scss';
:host {
	.profile-card {
		text-align: center;
		padding: 0 20px 20px 20px;
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 50%;
			background-color: $main-blue;
		}
	}
	.button-exit {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		&:hover {
			background-color: $lightgrey;
		}
	}
}
