.main__volonteer-edit-page {
	margin: 15px 50px;
}
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-row {
	background-color: transparent;
	&:hover {
		background-color: #4788b6;
		cursor: pointer;
	}
}

