@import 'variables.scss';

.main__volonteer-edit-page {
	margin: 15px 50px;
}
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-row {
	background-color: transparent;
	&:hover {
		background-color: $main-blue;
		cursor: pointer;
	}
}
[mat-raised-button]:hover {
	background-color: $main-orange;
	margin-left: auto;
}
.mat-header-cell {
	color: $main-orange;
}
