@import 'variables.scss';

.main__pet_slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 70px;

	.main__pet_slider__title {
		margin-bottom: 40px;
		font-size: 40px;
		font-weight: 600;
		font-style: bold;
		color: $main-blue;
	}
}

// style for carousel
.zIndex {
	z-index: 4;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
}
